<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<section id="nav-bar">
    <div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome To [CodedByMike] Portfolio Project</a>
    </div>
  </nav>
</div>
</section>

<section>
    <main> <section class="py-5 text-center container"> <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto"> <h1 class="fw-dark"> Portfolio Website</h1>
            <p class="lead text-body-dark">This is my portfolio website project, created to highlight some of the Python projects
                I’ve developed. I enjoy building applications that challenge me and showcase what I’ve learned,
                and the projects displayed here are just a selection of my work. Most of my source code is available on my
                GitHub at CodedByMike,
                and I plan to continue adding more projects as I grow my skills and experience.</p>
            <p> <a href="#" class="btn btn-primary my-2">Click for fun</a> </p> </div>
    </div> </section> <div class="album py-5 bg-body-tertiary"> <div class="container"> <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> <div class="col"> <div class="card shadow-sm">
        <!--<svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
             preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                                                                                   dy=".3em">Thumbnail</text></svg> -->
        <img src="static/dynamic.jpg">
        <div class="card-body"> <p class="card-text">I created several websites using Python, Flask, Jinja, Html/CSS, Java-script,Flex-box Bootstrap and SQL as the database
           , including a personal Blog ,a moving company site,
            DoggyDate (a dog-friendly Tinder-style app) .</p>
            <div class="d-flex justify-content-between
            align-items-center"> <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">
            View</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
                class="text-body-secondary">9 mins</small> </div> </div> </div> </div> <div class="col"> <div
            class="card shadow-sm"> <!--<svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top"
                                         height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                                         xmlns="http://www.w3.org/2000/svg">-->
        <img class="imgss" src="static/turtleCross.jpg">
                                         <!--<title>Placeholder</title><rect width="100%"
                                                                                                            height="100%"
                                                                                                            fill="#55595c">

    </rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>--> <div class="card-body"> <p class="card-text">I built a Python game called Turtle Crossing with Turtle graphics
            where the turtle avoids obstacles that speed up each level.
            which get faster each time the player advances,
            making the game more challenging.</p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button type="button" class="btn btn-sm btn-outline-secondary">
        Edit</button> </div> <small class="text-body-secondary">9 mins</small> </div> </div> </div> </div> <div class="col"> <div class="card shadow-sm">
        <img class="imgss" src="static/Cookie.avif">
        <!--<svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%"
             xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                                                                                                                       dy=".3em">Thumbnail</text></svg>-->
        <div class="card-body"> <p class="card-text">I created a Python project using Selenium that automates the Cookie Clicker
            website by running a server and automatically handling the clicking process.
            </p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group">
            <form action="/run-selenium" method="post">
                <button  type="submit" class="my-button"
           >Try the code now</button> </form>
            </div> <small class="text-body-secondary">
            Click the button to test the project out</small> </div> </div> </div> </div> <div class="col"> <div class="card shadow-sm"> <!--<svg aria-label="Placeholder: Thumbnail"
                                                                                                           class="bd-placeholder-img card-img-top"
                                                                                                           height="225" preserveAspectRatio="xMidYMid slice"
                                                                                                           role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <img class="imgss" src="static/Email-m.png">
        <div class="card-body"> <p class="card-text">I developed a Python project leveraging smtplib to automate the process of sending personalized email messages to recipients efficiently.
            </p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group"> <button type="button"
                                                                                                                                     class="btn btn-sm btn-outline-
                                                                                                                                     secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small class="text-body-secondary">9 mins</small> </div> </div> </div>
    </div> <div class="col"> <div class="card shadow-sm">
        <img class="imgss" src="static/pong.png">
        <!--<svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                                                               preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <div class="card-body"> <p class="card-text">I developed a Python implementation of the classic Pong game using the Turtle graphics library,
            incorporating paddle controls, ball movement, collision detection, and score tracking.
          </p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group"> <button type="button"
                                                                                                                                   class="btn btn-sm btn-outline-
                                                                                                                                   secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small class="text-body-secondary">9 mins</small> </div> </div> </div>
    </div> <div class="col"> <div class="card shadow-sm">
        <img class="imgss" src="static/pomodoro.png">
        <!--<svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                                                               preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <div class="card-body"> <p class="card-text">I created a Pomodoro Timer application in Python using Tkinter, featuring timed work and break intervals
            with a simple graphical interface to help improve productivity.
            </p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group"> <button type="button"
                                                                                                                                        class="btn btn-sm btn-outline-
                                                                                                                                        secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small class="text-body-secondary">9 mins</small> </div> </div>
    </div> </div> <div class="col"> <div class="card shadow-sm">
        <img class="imgss" src="static/Weather-Api.jpg">
        <!--<svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                                                                      preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <div class="card-body"> <p class="card-text">I created a Python project that integrates a weather API with Twilio to build a Rain Checker,
            which automatically sends text alerts if rain is forecasted at your coordinates.</p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group"> <button type="button"
                                                                                                                                   class="btn btn-sm btn-outline-
                                                                                                                                   secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small class="text-body-secondary">9 mins</small> </div> </div>
    </div> </div> <div class="col"> <div class="card shadow-sm"> <img src="static/images.png">
        <!--
        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                                                                      preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">

        <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <div class="card-body"> <p class="card-text">This project uses Python, Selenium, and BeautifulSoup (BS4) to automatically scrape rental property data from the Zillow website. The script extracts key information including the address, rent price, and Link. It then automates
            the submission of this data into a Google Form which gets put in a spreadsheet.
          </p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button type="button" class="btn btn-sm btn-outline-secondary">
            Edit</button> </div> <small class="text-body-secondary">9 mins</small> </div> </div> </div> </div> <div class="col"> <div class="card shadow-sm">
    <img class="imgss" src="static/snake.jpg">
     <!--   <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%"
             xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                                                                                                                       dy=".3em">Thumbnail</text></svg>-->
        <div class="card-body"> <p class="card-text">I developed a Snake Game in Python using the Turtle graphics library, implementing food generation,
            collision detection, score tracking, and increasing difficulty as the snake grows.</p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group"> <button type="button" class="btn btn-sm
            btn-outline-secondary">View</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small class="text-body-secondary
">9 mins</small> </div> </div> </div> </div> </div> </div> </div> </main>

</section>

<section>
    <div class="container"> <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center"> <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
            <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 CodedByMike, Inc</span> </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"> <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Instagram"><svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#instagram"></use></svg></a></li> <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Facebook">
            <svg class="bi" width="24" height="24">
        <use xlink:href="#facebook"></use></svg></a></li> </ul> </footer> </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>